.AboutPage {
    background: url(../assets/img/about.jpeg) no-repeat center center;
    background-size: cover;
    height: 90vh;
    padding: 15vh 15% 0;
}

.AboutPage h1 {
    color: #ffffffc5;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.AboutPage p {
    color: #ffffffc5;
    text-align: center;
}